body {
  background-color: #242038;
  font-family: 'Roboto', 'sans-serif';
  font-size: 100%;
}

.top {
  text-align: center;
}

h1 {
  text-align: center;
  color: #f7ece1;
}
table {
  font-family: 'Roboto', sans-serif;
  /* border-collapse: collapse; */
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 15px;
}

.div-00 {
  background-color: #8d86c9;
  border-radius: 8px;
  padding: 10px;
  /* border: 1px solid; */
  /* border-color: #9067c6; */
  /* box-shadow: 5px 5px 5px 5px #cac4ce; */
}

.div-01 {
  background-color: #00cccc;
  border-radius: 10px;
  padding: 10px;
}

.div-02 {
  background-color: #8d86c9;
  border-radius: 8px;
  padding: 10px;
}

.th0 {
  text-align: center;
}

td,
th {
  border: 1px solid #000000;
  text-align: right;
  padding: 5px;
  color: #242038;
}

tr:nth-child(odd) {
  background-color: #cac4ce;
}
tr:nth-child(even) {
  background-color: #f7ece1;
}
